name: Publish Images

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  actions: write
  contents: read
  checks: write
  id-token: write
  pull-requests: write

on:
  workflow_dispatch:  # Allow for manually invoking the workflow

  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '00 */12 * * *'

  release:
    types: [created]

  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Check Release
      id: can_release
      run: |
        set -euox pipefail
        RELEASE=$(scripts/release.sh)
        echo "success=$RELEASE" >> $GITHUB_ENV

    - name: Set environment variables
      if: ${{ env.success == 'true' || github.event_name == 'release' || github.event_name == 'push' }}
      run: |
        echo "BUILD_DATE="$(date -u +"%Y-%m-%dT%H:%M:%SZ")"" >> $GITHUB_ENV
        echo "GIT_COMMIT="$(git rev-parse --short HEAD)"" >> $GITHUB_ENV

    - name: Login to Docker Hub
      if: ${{ env.success == 'true' || github.event_name == 'release' || github.event_name == 'push' }}
      uses: login-action@v3
      with:
        username: "${{ secrets.DOCKERHUB_USERNAME }}"
        password: "${{ secrets.DOCKERHUB_TOKEN }}"

    - name: Build the Docker image
      if: ${{ env.success == 'true' || github.event_name == 'release' || github.event_name == 'push' }}
      run: |
        set -euox pipefail
        [ -f docker-compose.yml ] && docker compose -f docker-compose.yml build --pull
      env:
        BUILD_DATE: "${{ env.BUILD_DATE }}"
        GIT_COMMIT: "${{ env.GIT_COMMIT }}"

    - name: Publish the Docker image
      id: publish
      if: ${{ env.success == 'true' || github.event_name == 'release' || github.event_name == 'push' }}
      run: |
        set -euox pipefail
        [ -f docker-compose.yml ] && docker compose -f ./docker-compose.yml push
      env:
        BUILD_DATE: "${{ env.BUILD_DATE }}"
        GIT_COMMIT: "${{ env.GIT_COMMIT }}"

    - name: Publish the Docker image (Retry)
      if: ${{ failure() && steps.publish.outcome == 'failure' && (env.success == 'true' || github.event_name == 'release' || github.event_name == 'push') }}
      run: |
        set -euox pipefail
        [ -f docker-compose.yml ] && docker compose -f ./docker-compose.yml push
      env:
        BUILD_DATE: "${{ env.BUILD_DATE }}"
        GIT_COMMIT: "${{ env.GIT_COMMIT }}"
